@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap');

        :root {
            --primary-color: yellow;
            --sec-color: black;
            --third-color: white;
        }

        body {
            font-family: 'Gluten', cursive;
            font-weight: 500;
            font-size: larger;
            margin-top: 0;
            position: relative;
            top: 0;
        }

        nav {
            height: 10vh;
            background-color: var(--primary-color);
            position: relative;
            top: 0;
            display: block;
            text-align: center;
            border-radius: 0 0 25px 25px;

        }

        #heading {
            margin-top: 0;
            vertical-align: middle;
            margin: 0 auto;
            align-content: center;
            padding-top: 1.5rem;
        }

        #div-output {
            height: 10%;
            width: 40vw;
            border: 2px solid var(--sec-color);
            padding: 5% 5% 7% 5%;
            /* margin-left: 20vw;
            margin-right: 30vw; */
            margin: 0 auto;
            box-shadow: 10px 5px 10px var(--primary-color);
        }

        #btn-translate {
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            background-color: var(--primary-color);
            box-shadow: var(--sec-color);
            margin: 0 auto;
            display: block;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-family: 'Gluten', cursive;
            font-size: large;
            box-shadow: 5px 5px 7px var(--sec-color);
        }

        #btn-translate:hover {
            background-color: var(--third-color);
            color: var(--sec-color);
            box-shadow: 5px 5px 7px var(--primary-color);
        }

        #txt-input {
            height: 10%;
            width: 40vw;
            border: 2px solid var(--sec-color);
            padding: 5% 5% 5% 5%;
            box-shadow: 10px 5px 10px var(--primary-color);
            display: block;
            /* margin-left: 20vw;
            margin-right: 30vw; */
            margin: 0 auto;
            margin-top: 1rem;
        }

        footer {
            text-align: center;
            margin-top: 2rem;
        }

        main h4 {
            text-align: center;
            margin-bottom: 0.25rem;
        }

        #footer-head{
            margin-bottom: 0.5rem;
        }
        
        #footer-ul{
            display: inline-block;
            list-style-type: none;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
            margin-bottom: 1rem;
        }
        
        
        .footer-li{
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        footer{
            font-weight: 500;
        }
        
        .change-color-svg{
            fill: black;
            height: 6vh;
        }

        .change-color-svg:hover{
            fill: rgb(0, 153, 255);
        }